[user]
	email = jisuchoi01@gmail.com
	name = jisu choi
[credential]
	helpergit = credential
	helper = store
	username = jisuchoi01
	useHttpPath = true
[core]
	editor = vim
	autocrlf = input
	notesRef = true
[alias]
    lg = log --graph --decorate=full --notes --oneline
